<h1>About Me</h1>
<article class="article-details">Welcome to my corner of the web! I'm <b>Adarsh Goyal</b>, a passionate tech enthusiast who loves exploring the world of electronics, 
    web development, and all things technical. This site is a space where I share my journey, my projects, and my thoughts on the ever-evolving landscape of 
    technology.
</article>

<h3>What You'll Find Here</h3>
<ul>
    <li>
       <article class="article-details"><b>Blogs on Learning:</b>  I believe that the best way to learn is by doing, and that's the approach I take in everything I do. On this blog, I share insights and 
        lessons from my experiences in learning new technologies, mastering electronics, and developing web projects. Whether you're a beginner or a seasoned pro, I hope you find something useful here that 
        sparks your curiosity or helps you on your own learning journey.
       </article> 
    </li>
    <li>
        <article class="article-details article-details-space"><b>Project Showcases:</b>  I'm always working on something new, and this site is where I document my projects. 
            From building electronic gadgets to creating web applications, I enjoy pushing the boundaries of what I can do. 
            I share the process, the challenges, and the outcomes so that you can see what it takes to bring an idea to life.
        </article> 
     </li>
    <li>
        <article class="article-details article-details-space"><b>Technical Explorations:</b>  Technology is vast and ever-changing, and I love diving deep into the technical 
            details. Whether it's a new programming language, a fascinating electronics concept, or a tool that makes life easier, I explore it all here. My goal is to break 
            down complex topics and make them accessible to anyone who shares my passion for learning.
        </article> 
     </li>
</ul>
<h3>My Mission</h3>
<article class="article-details">My mission is simple to inspire and empower others to learn, create, and innovate. Whether you're here to find a solution, get inspired, 
    or simply learn something new, I'm glad you've stopped by. Let's explore the world of technology together!

</article>