<h1>Contact Me</h1>
<div class="container">
    <div class="contact">
        <ul class="contact-article">
            <div>
                <li>
                    <article class="article-details"><b>Name: </b>Adarsh Goyal</article>
                </li>
                <li>
                    <article class="article-details article-details-space "><b>Phone: </b>9958728538</article>
                </li>
                <li>
                    <article class="article-details article-details-space "><b>Email: </b>Ashu2100ag@gmail.com</article>
                </li>
            </div>
            <li class="contact-socialMedia article-details-space">
                <div>
                    <a href="https://www.linkedin.com/in/adarsh-goyal-20a73b246/">
                        <img src="/images/Linkedin-logo.png" alt="linkedin logo" class="contact-socialMedia-logo">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="/images/Instagram-logo.png" alt="Instagram Logo" class="contact-socialMedia-logo">
                    </a>
                </div>
                <div>
                    <a href="#">
                        <img src="/images/X-logo.png" alt="X Logo" class="contact-socialMedia-logo">
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>