
<p></p>
<a href="/">&larr; Back</a>
<h1><%= data.title  %></h1>
<article class="article-date">
    Posted on: &nbsp;<%=data.createdAt.toDateString()%>
</article>
<article class="article">
    <%= data.body %>
</article>